* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(/src/img/pagina/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  box-shadow: 0 0 10px 0 black;
}

.titulo {
  margin-right: 15%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.subtitulo {
  color: whitesmoke;
}

.contenedorNav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navPrincipal a {
  margin-right: 24px;
  text-decoration: none;
  border-left: 1px solid whitesmoke;
  padding: 6px 10px;
  color: whitesmoke;
}

.logo,
h3 {
  text-align: center;
  margin-top: 16px;
  color: black;
  font-family: "Merriweather", serif;
}

p {
  font-family: "Titillium Web", sans-serif;
}

h4 {
  margin-top: 8px;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

.logo {
  background: linear-gradient(to right, #ffda10, #88530b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  font-size: 44px;
  letter-spacing: 4px;

  font-weight: 900;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.textoContacto {
  font-family: "Merriweather", serif;
}

.textoContacto {
  margin-bottom: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-image: linear-gradient(to bottom, transparent, #454545);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: #355891;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,
.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solid #355891;
  border-radius: 0px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #355891;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #355891;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: #355891;
  background: #5f82a9;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #355891;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}


.promociones__informacion{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.informacion__texto{
  padding: 24px;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  line-height: 2;
}
.promociones__imagenes{
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor__promo{
  border: 1px solid black;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.promociones__precio{
  font-size: 24px;
  font-weight: bold;
}

.button {
  margin-top: 60px;
  height: 50px;
  width: 240px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
  margin-bottom: 24px;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 24px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.contenedor__promo h5{
  margin-top: 6px;
  font-size: 24px;
  font-family:  "Titillium Web", sans-serif;
  letter-spacing: 2px;
}

.contenedor__promo p{
  margin-top: 24px;
  width: 80%;
  text-align: center;
  font-size: 20px;
}
.footer {
  background-color: #454545;
  text-align: center;
  margin-top: 40px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linksFooter {
  margin-top: 24px;
  font-size: 16px;
}

.enlaceFooter {
  margin: 0 16px;
  color: whitesmoke;
  text-decoration: none;
}

.linked {
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 16px;
}
